@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Store Stock demo</h1>
    <p>Learn about <a>start by navigating to stores or products.</a>.</p>
</div>
